{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.html", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
